<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>gestion_college</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EtudiantController</display-name>
    <servlet-name>EtudiantController</servlet-name>
    <servlet-class>college.ing2.controllers.EtudiantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantController</servlet-name>
    <url-pattern>/EtudiantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalleController</display-name>
    <servlet-name>SalleController</servlet-name>
    <servlet-class>college.ing2.controllers.SalleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalleController</servlet-name>
    <url-pattern>/SalleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollegeController</display-name>
    <servlet-name>CollegeController</servlet-name>
    <servlet-class>college.ing2.controllers.CollegeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeController</servlet-name>
    <url-pattern>/CollegeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatiereController</display-name>
    <servlet-name>MatiereController</servlet-name>
    <servlet-class>college.ing2.controllers.MatiereController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatiereController</servlet-name>
    <url-pattern>/MatiereController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffectationController</display-name>
    <servlet-name>AffectationController</servlet-name>
    <servlet-class>college.ing2.controllers.AffectationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffectationController</servlet-name>
    <url-pattern>/AffectationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnseignantController</display-name>
    <servlet-name>EnseignantController</servlet-name>
    <servlet-class>college.ing2.controllers.EnseignantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnseignantController</servlet-name>
    <url-pattern>/EnseignantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartementController</display-name>
    <servlet-name>DepartementController</servlet-name>
    <servlet-class>college.ing2.controllers.DepartementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartementController</servlet-name>
    <url-pattern>/DepartementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>college.ing2.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
</web-app>